certifi==2021.5.30
charset-normalizer==2.0.6; python_version >= "3"
dnacentersdk==2.3.2
fastjsonschema==2.15.1
future==1.0.0
idna==3.2; python_version >= "3"
pyyaml==6.0.2
requests-toolbelt==0.9.1
requests==2.26.0
urllib3==1.26.7
